<app-navbargestor></app-navbargestor>
<br>

<form class="form-inline my-2 my-lg-0 justify-content-md-center">
  <input class="form-control mr-sm-2" type="search" placeholder="Nombre cliente" aria-label="Search">
  <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>
</form>
<br>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">Monto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Nicolas</td>
        <td>Palenque</td>
        <td>nicoopalenque@gmail.com</td>
        <td>$100000</td>
      </tr>
      
    </tbody>
  </table>