<app-navbaradministrador></app-navbaradministrador>
<br>
<form class="form-inline my-2 my-lg-0 justify-content-md-center">
    <input class="form-control mr-sm-2" type="search" placeholder="Gestor" aria-label="Search">
    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Buscar</button>
  </form>
  <br>
  
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Email</th>
          <th scope="col">Monto</th>
        </tr>
      </thead>
      <tbody>
        
        
      </tbody>
    </table>