#footer{
    max-width: 1200px;
    margin: 20px auto;
    position: relative;
    clear: both;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    color: black;
    text-align: center;

}