<div class="container">
<footer id="footer">
  <div class="card">
    <div class="card-header text-center">
      Tipos de Usuarios
    </div>
    <div class="card-body">
      <div class="row">
          <div class="col-sm-4">
              <div class="card">
                <div class="card-body text-center">
                  <a href="#" class="btn btn-danger" (click)="ocultarInicio()" routerLink="/logincliente">Cliente</a>
                </div>
              </div>
            </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body text-center">
              <a href="#" class="btn btn-danger" (click)="ocultarInicio()" routerLink="/logingestor">Gestor</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body text-center">
              <a href="#" class="btn btn-danger" (click)="ocultarInicio()" routerLink="/movimientousuario">Administrador</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>