<div class="login-card"><img src="../../../assets/img/login2.png" class="profile-img-card">
    <p class="profile-name-card"> </p>
    <form class="form-signin"><span class="reauth-email"> </span>
        <input class="form-control" [(ngModel)]="user" [ngModelOptions]="{standalone: true}" type="text" required="" placeholder="Usuario" autofocus="" id="inputEmail">
        <input class="form-control" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}"  type="password" required="" placeholder="Contraseña" id="inputPassword">
        <div class="checkbox">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="formCheck-4">
            </div>
        </div>
        <button class="btn btn-primary btn-block btn-lg btn-signin" routerLink="/acreditar" type="submit">Iniciar Sesion</button>
    </form>
 
</div>
