<app-navbaradministrador></app-navbaradministrador>
<br><br>
<div class="table-responsive"> 
  <table class="table table-bordered table-hover table-condensed">
      <thead>
          <tr>
              <th scope="col" style="text-align: center" colspan="13 ">Movimientos</th>
                   
            </tr>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha</th>
                <th scope="col">Operacion</th>
                <th scope="col">Costo de Operacion</th>
                <th scope="col">Comision</th>
                <th scope="col">ID Gestor</th>
                <th scope="col">Monto de transferencia</th>
                <th scope="col">DNI Origen</th>
                <th scope="col">Monto inicio origen</th>
                <th scope="col">Monto final origen</th>
                <th scope="col">DNI Destino</th>
                <th scope="col">Monto inicio destino</th>
                <th scope="col">Monto final destino</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of movimientos">
                <td>{{item.Id}}</td>
                <td>{{item.fecha| date:'dd/MM/yyyy'}}</td>
                <td>{{item.tipo_de_operacion}}</td>
                <td>${{item.costo_operacion}}</td>
                <td>${{item.valor_comision}}</td>
                <td>{{item.id_gestor}}</td>
                <td>${{item.monto_operacion}}</td>
                <td>{{item.id_usuario_origen}}</td>
                <td>${{item.saldo_inicial_origen}}</td>
                <td>${{item.saldo_final_origen}}</td>
                <td>{{item.id_usuario_destino}}</td>
                <td>${{item.saldo_inicial_destino}}</td>
                <td>${{item.saldo_final_destino}}</td>
              </tr>
            </tbody> 
    </table>
  </div>
    <br><br>