 
<div class="container">
    <nav class="navbar navbar-light navbar-expand-md sticky-top d-block align-items-center align-content-center navigation-clean-button" style="background-color:rgba(255,255,255,0);">
        <div class="container"><a class="navbar-brand" href="#" style="font-family:'Aguafina Script', cursive;font-size:40px;">YourWallet</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse align-content-center visible" id="navcol-1" style="font-family:ABeeZee, sans-serif;font-size:18px;">
                <ul class="nav navbar-nav align-items-center mx-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/movimientousuario">Ver Movimientos</a></li>
                   
                </ul><span class="float-right navbar-text actions"><a class="btn btn-light action-button" role="button" routerLink="/">Salir</a></span></div>
        </div>
    </nav>
</div>